body {
	/* The image used */
	background-image: url("../photos/bg.jpg");
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */ background-position : center;
	background-repeat:repeat-y;
	background-size: cover;
	background-position: center
}

.image-upload > input
{
    display: none;
}